/*
ul {
    list-style-type: circle;
    background: none;
    padding: 20px;
    margin: 0;
    padding: 0;
    top: 220;
    height: 220;
}

select {
    word-wrap: break-word;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    margin: 0px 10px;
    margin-left: 20px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    overflow: scroll;
}
*/


#attack {
    position: sticky;
    margin: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
    float: center;
    display: inline-block;
    height: 200px;
    width: 20px;
    padding: 0px;
    box-sizing: border-box;
}

#decay {
    position: sticky;
    margin: 20px;
    margin-bottom: 20px;
    float: center;
    display: inline-block;
    height: 200px;
    width: 20px;
    padding: 0;
    box-sizing: border-box;
}

#sustain {
    position: sticky;
    margin: 20px;
    margin-bottom: 20px;
    float: center;
    display: inline-block;
    height: 200px;
    width: 20px;
    padding: 0;
    box-sizing: border-box;
}

#release {
    position: sticky;
    margin: 20px;
    margin-bottom: 20px;
    float: center;
    display: inline-block;
    height: 200px;
    width: 20px;
    padding: 0;
    box-sizing: border-box;
}

#detune {
    position: sticky;
    margin: 20px;
    margin-bottom: 20px;
    float: center;
    display: inline-block;
    height: 200px;
    width: 20px;
    padding: 0;
    box-sizing: border-box;
}

#midinote {
    position: sticky;
    margin: 20px;
    margin-bottom: 20px;
    float: center;
    display: inline-block;
    height: 200px;
    width: 20px;
    padding: 0;
    box-sizing: border-box;
}

#duration {
    position: sticky;
    margin: 20px;
    margin-bottom: 20px;
    float: center;
    display: inline-block;
    height: 200px;
    width: 20px;
    padding: 0;
    box-sizing: border-box;
}

/*
 Note: for some reason row margins don't appear
 automatically from bootstrap. Make new class here to
 add
*/

.rowmt {
  margin-top:12px;
  margin-bottom:20px;
  box-sizing: border-box;

}

.row {
  margin-top: inherit;
  margin-bottom:0px;
  box-sizing: border-box;
  max-width: inherit;
  padding-bottom: inherit;
  padding-right: 4px;
  min-width: 600px;
}

.rowmb {
  margin-top:30px;
  margin-bottom:12px;
  box-sizing: border-box;
}


.noUi-connect {
 background: #c8b45a;
 box-sizing: border-box;
}

.table-responsive {
  box-sizing: border-box;
  position: sticky !important;
  float: center;
  overflow-x: scroll ;
  margin-right: 0px;
  padding-right: 5px !important;
  padding left: 5px;
}

.table-responsive::-webkit-scrollbar {
    -webkit-appearance: none;
}

.table-responsive::-webkit-scrollbar:vertical {
    width: 12px;
}

.table-responsive::-webkit-scrollbar:horizontal {
    height: 12px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.table-responsive::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

.col-md-5 {
  padding: 0px 10px 0px 10px !important;
  background: transparent;
  position: sticky !important;
  overflow-x: scroll;
  margin-right: 0px;
  margin-left: 0px;
  float: right;
}

.col-md-7 {
  padding: 0px 6px 0px 15px !important;
  box-sizing: border-box;
  background: transparent;
  position: sticky !important;
  overflow-x: scroll;
  margin-right: 0px;
  margin-left: 0px;
  float: left;
}
.background {
    position: fixed;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 0;
  }
iframe{
  position: fixed;
  height: 100%;
  width: 100%;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

/*
table {
    width: 50%;
    height: 300px;
    border-collapse: collapse;
}
*/
/* Zebra striping */

/*
tr:nth-of-type(odd) {
    background: grey;
}
th {
    background: #333;
    color: white;
    font-weight: bold;
}
td, th {
    padding: 3px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: top;
}
*/

/*
#playback-table {
    width: 150px;
    height: 80px;
    background: grey;
}
*/

input[type=submit] {
    width: 160px;  height: 100px;
}

.tooltip {
	display: block;
	position: absolute;
	border: 0px;
	font: normal bold 11px/11px Arial;
	border-radius: 0px;
	background: transparent;
	top: 0px;
	padding: 10px 0px 0px 40px;
	left: 0px;
	text-align: center;
	width: 50px;
 	height: 35px;
  box-sizing: border-box;
}
