/*
ul {
    list-style-type: circle;
    background: none;
    padding: 20px;
    margin: 0;
    padding: 0;
    top: 220;
    height: 220;
}

select {
    word-wrap: break-word;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    margin: 0px 10px;
    margin-left: 20px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    overflow: scroll;
}
*/

#attack {
    position: sticky;
    margin: 20px;
    margin-left: 0px;
    margin-bottom: 0px;
    float: center;
    display: inline-block;
    height: 200px;
    width: 20px;
    padding: 0;
}

#decay {
    position: sticky;
    margin: 20px;
    margin-bottom: 20px;
    float: center;
    display: inline-block;
    height: 200px;
    width: 20px;
    padding: 0;
}

#sustain {
    position: sticky;
    margin: 20px;
    margin-bottom: 20px;
    float: center;
    display: inline-block;
    height: 200px;
    width: 20px;
    padding: 0;
}

#release {
    position: sticky;
    margin: 20px;
    margin-bottom: 20px;
    float: center;
    display: inline-block;
    height: 200px;
    width: 20px;
    padding: 0;
}

#detune {
    position: sticky;
    margin: 20px;
    margin-bottom: 20px;
    float: center;
    display: inline-block;
    height: 200px;
    width: 20px;
    padding: 0;
}

#midinote {
    position: sticky;
    margin: 20px;
    margin-bottom: 20px;
    float: center;
    display: inline-block;
    height: 200px;
    width: 20px;
    padding: 0;
}

#duration {
    position: sticky;
    margin: 20px;
    margin-bottom: 20px;
    float: center;
    display: inline-block;
    height: 200px;
    width: 20px;
    padding: 0;
}

/*
 Note: for some reason row margins don't appear
 automatically from bootstrap. Make new class here to
 add
*/
.rowmt {
  margin-top:10px;
}

.noUi-connect {
 background: #c8b45a;
}

/*
table {
    width: 50%;
    height: 300px;
    border-collapse: collapse;
}
*/
/* Zebra striping */

/*
tr:nth-of-type(odd) {
    background: grey;
}
th {
    background: #333;
    color: white;
    font-weight: bold;
}
td, th {
    padding: 3px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: top;
}
*/

/*
#playback-table {
    width: 150px;
    height: 80px;
    background: grey;
}
*/

input[type=submit] {
    width: 160px;  height: 100px;
}

.tooltip {
	display: block;
	position: absolute;
	border: 0px;
	font: normal bold 11px/11px Arial;
	border-radius: 0px;
	background: transparent;
	top: 0px;
	padding: 10px 0px 0px 40px;
	left: 0px;
	text-align: center;
	width: 50px;
 	height: 35px;
}
